<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'secondapp/table.css'%}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'secondapp/get.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'secondapp/images/trash-solid.svg'%}">

</head>
<body>
    <h1 id="h11">USER MANAGEMENT</h1>
    <div class="anh">
    <a href="{% url 'creates' %}" ><button class="bttn">Add user</button></a>
</div>


    
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
    

        <tr>
            <th>User Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Password</th>
            <th>Status</th>
           
        </tr>
    </thead>
    <tbody>
        {% for user in user %}
        <tr class="ussss">
            <td>{{user.id}}</td>
            <td>{{user.Fullname}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Dob}}</td>
            <td>{{user.Password}}</td>
            <td>{{user.Status}}</td>
            <td><a href="{% url 'edit' user.id  %}" class="svg1"><button class="btn1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#1b56bb" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l293.1 0c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7l40.3-40.3c-32.1-31-75.7-50.1-123.9-50.1l-91.4 0zm435.5-68.3c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM375.9 417c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L576.1 358.7l-71-71L375.9 417z"/></svg><br>Edit</button></a></td>
            <td><a href="{% url 'delete' user.id  %}"><button class="btn2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#df0c4b" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg> <br>Delete</button></a></td>
            
        </tr>
        {% endfor %}
    
</table>
<tbody>
</div>
</body>
</html>